<form [formGroup]="form">
  <div class="form-group">
    <label for="username">Username/Email Address</label>
    <input
      formControlName="username"
      id="username"
      type="text"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      formControlName="password"
      id="password"
      type="text"
      class="form-control">
  </div>
  <button class="btn btn-primary" type="submit">Login</button>
</form>
<a href="">Forgot Password</a>