<form [formGroup]="form">
  <div class="form-group">
    <label for="username">Username/Email Address</label>
    <input
      formControlName="username"
      id="username"
      type="text"
      class="form-control">
      <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
        <div *ngIf="username.errors.required">Username is required</div>
        <div *ngIf="username.errors.minlength">Username should have minimum of {{ username.errors.minlength.requiredLength }} characters</div>
        <div *ngIf="username.errors.email">Enter a valid Email Address</div>
        <div *ngIf="username.errors.cannotContainSpace">No Space allowed</div>
      </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      formControlName="password"
      id="password"
      type="text"
      class="form-control">
      <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.pattern">Password must contain atleast one letter, one number and be longer than 6 characters</div>
        <div *ngIf="password.errors.cannotContainSpace">No Space allowed</div>
      </div>
  </div>
  <button class="btn btn-primary" type="submit">Login</button>
</form>
<a href="">Forgot Password</a>